/*
@author: Leonardo L. Amorim
*/

*{
	margin:0; padding: 0; border: 0;
}

@font-face {
    font-family: 'abelregular';
    src: url('../font/abel-webfont.woff2') format('woff2'),
         url('../font/abel-webfont.woff') format('woff');
		 url('../font/abel-webfont.svg') format('svg');
		 url('../font/abel-webfont.eot') format('eot');
		 
    font-weight: normal;
    font-style: normal;

}


/* SLIDESHOW MAIN PAGE*/

.slideShow{
	/*border: 1px solid red;*/
	position: relative;
	top:-180px;
	left:45px;
	height:600px;
	display: block;
}

.slideShow{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
	0%,100% { opacity: 0; }
	50% { opacity: 1; }
}

@keyframes fade {
  0%,100% { opacity: 0; }
  50% { opacity: 1;} 
  }
  

 .mySlides{
	 /*border: 1px solid green;*/
	 max-width:1000px;
	 max-height:500px;
	 position: relative;
	 top:-110px;
	 
 }

div#setas a{
	/*border: 1px solid red;*/
	 position: relative;
	 left:500px;
	 top:20px;
	 
 }
  
  .setaEsquerda{
	  font-size:250%;
	  color:#272625;
	  margin:0 5px;
  }
  
    .setaDireita{
	  font-size:250%;
	  color:#272625;
	  margin:0 5px;
  }
  
  